<section class="vista-previa">
  <img ng-src="images/previews/preview-{{serie.slug}}.jpg" alt="" />
  <div class="serie-info">
    <h1>{{serie.nombre}}</h1>
    <span>{{serie.estreno}} - {{serie.estreno + serie.num_temporadas - 1}}</span>
    <span>{{serie.num_temporadas}} temporadas</span>
    <p class="descripcion">
      {{serie.descripcion}}
    </p>
    <button><i class="fa fa-plus"></i> Mi lista</button>
    <button><i class="fa fa-share"></i> Recomienda a un amigo</button>
  </div>
</section>