<section class="vista-previa">
  <img ng-src="images/previews/preview-{{serie.slug}}.jpg" alt="" />
  <div class="serie-info">
    <h1>{{serie.nombre}}</h1>
    <span>{{serie.estreno}}-{{serie.estreno + serie.numTemporadas}}</span>
    <div class="tag">{{serie.tag}}</div>
    <span>{{serie.numTemporadas}} <em ng-if="serie.numTemporadas !== 1">temporadas</em><em ng-if="serie.numTemporadas === 1">temporadas</em></span>
    <p class="descripcion">
      {{serie.descripcion}}
    </p>
    <button><i class="fa fa-plus"></i> Mi lista</button>
    <button><i class="fa fa-share"></i> Recomienda a un amigo</button>
  </div>
</section>