<article class="serie" ng-repeat="serie in arreglo | filter: {titulo: series.busqueda}">
  <img ng-src="images/series/{{serie.slug}}.jpg" alt="{{titulo}}" />
</article>
<article class="serie" ng-repeat="serie in arreglo | filter: {titulo: series.busqueda}">
  <img ng-src="images/series/{{serie.slug}}.jpg" alt="{{titulo}}" />
</article>
<article class="serie" ng-repeat="serie in arreglo | filter: {titulo: series.busqueda}">
  <img ng-src="images/series/{{serie.slug}}.jpg" alt="{{titulo}}" />
</article>
<article class="serie" ng-repeat="serie in arreglo | filter: {titulo: series.busqueda}">
  <img ng-src="images/series/{{serie.slug}}.jpg" alt="{{titulo}}" />
</article>
<article class="serie" ng-repeat="serie in arreglo | filter: {titulo: series.busqueda}">
  <img ng-src="images/series/{{serie.slug}}.jpg" alt="{{titulo}}" />
</article>
<article class="serie" ng-repeat="serie in arreglo | filter: {titulo: series.busqueda}">
  <img ng-src="images/series/{{serie.slug}}.jpg" alt="{{titulo}}" />
</article>